*.csv
*.xls
*.txt
/fi_FI/*.txt/
/de_DE/*.txt/
/en_US/*.txt/
/ru_RU/*.txt/
/*.csv/
rsconnect/

# ignore Mac Finder's metadata file
.DS_Store

# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md